@charset "UTF-8";
:root {
  --txt-base-color: #333;
  --txt-base-color-darkMode: #fff;
  --bg-base-color: #fff;
  --bg-base-color-darkMode: #2d496f;
  --box-shadow: #2d496f;
  --btm-nav-height: 56px;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  padding-bottom: var(--btm-nav-height);
  color: var(--txt-base-color);
  background-color: var(--bg-base-color);
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body.darkMode {
  color: var(--txt-base-color-darkMode);
  background-color: var(--bg-base-color-darkMode);
}

@media screen and (min-width: 768px) {
  .pr_pc-none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pr_sp-none {
    display: none !important;
  }
}

/**********************************************************

form parts

***********************************************************/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  min-width: 60px;
  padding: 6px 12px;
  background-color: #e48500;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.btn-simple {
  display: inline-block;
  min-width: inherit;
  padding: 5px 8px;
  background-color: transparent;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  color: var(--txt-base-color);
}

.btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/**********************************************************

card

***********************************************************/
.card {
  padding: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/**********************************************************

modal

***********************************************************/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal.js-active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* iconの利用
――――――――――――――――――――――――――――――――――――――――――――――*/
/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.icon-dark {
  color: #333;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.display {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100vw;
  height: calc(100vh - var(--btm-nav-height));
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  overflow-y: auto;
}

/*** 下部ナビゲーション ***/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navList__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--btm-nav-height);
  background-color: #333;
  color: #fff;
  padding: 8px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 14px;
}

.navList__item + .navList__item {
  border-left: solid 1px #fff;
}

.navList__item.current {
  background-color: #fff;
  color: #333;
}

.navList__itemName {
  margin-top: 2px;
}

/**********************************************************

ページごとのスタイル

***********************************************************/
/*――――――――――――――――――――――――――――――――――――――――――――
/* 共通
――――――――――――――――――――――――――――――――――――――――――――――*/
.displayHead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 0 -12px 20px;
  padding: 3px;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ1
――――――――――――――――――――――――――――――――――――――――――――――*/
#page1 {
  padding: 0 12px;
  background-color: #5c6f8a;
}

.inputList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputList__item + .inputList__item {
  margin-top: 20px;
}

.inputList__select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 0 0;
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 18px;
}

.inputList__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.inputList__input {
  width: 120px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  font-size: 18px;
  color: #fff;
  border-radius: 0;
}

.btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 20px 0;
}

/*** inputRealtimeResult ***/
.inputRealtimeResult {
  margin: 30px 0 30px 0;
}

.inputRealtimeResultTable {
  width: 100%;
  border: solid 1px #fff;
}

.inputRealtimeResultTable th, .inputRealtimeResultTable td {
  border: solid 1px #ccc;
  padding: 5px 6px;
  font-size: 14px;
}

.inputRealtimeResultTable th {
  background-color: #333;
  color: #fff;
}

.inputRealtimeResultTable td {
  background-color: #fff;
  color: #333;
  text-align: center;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ2
――――――――――――――――――――――――――――――――――――――――――――――*/
#page2 {
  background-color: #2f7344;
  padding: 0 12px;
}

.inputRealtimeResultList__item + .inputRealtimeResultList__item {
  margin-top: 15px;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ3
――――――――――――――――――――――――――――――――――――――――――――――*/
#page3 {
  background-color: #5c6f8a;
  padding: 0 12px;
}

/*** playerList ***/
.playerList {
  min-height: calc(100% - 120px);
}

.playerList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playerList__item + .playerList__item {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #999;
}

.playerList__name {
  color: var(--txt-base-color-darkMode);
  font-weight: bold;
}

.playerList__record {
  background-color: #539c75;
  padding: 5px 8px;
}

.playerList__rename {
  color: var(--txt-base-color-darkMode);
}

.playerList__delete {
  color: var(--txt-base-color-darkMode);
}

/*** playerAddBtn ***/
.playerAddBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 15px;
  z-index: 10;
  margin: 0 0 0 auto;
  border-radius: 50%;
  background-color: #fff;
}

.playerAddBtn__icon {
  font-size: 30px;
}

.playerAddBtn__txt {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.playerAddDisplay {
  color: #333;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ4
――――――――――――――――――――――――――――――――――――――――――――――*/
#page4 {
  background-color: #543457;
  padding: 0 12px;
}

.setting__ttl {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: -15px -15px 30px;
  padding: 3px;
}
/*# sourceMappingURL=style.css.map */