@charset "UTF-8";
:root {
  --txt-base-color: #333;
  --txt-base-color-darkMode: #fff;
  --bg-base-color: #fff;
  --bg-base-color-darkMode: #2d496f;
  --box-shadow: #2d496f;
}

body {
  overflow: hidden;
  color: var(--txt-base-color);
  background-color: var(--bg-base-color);
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

body.darkMode {
  color: var(--txt-base-color-darkMode);
  background-color: var(--bg-base-color-darkMode);
}

@media screen and (min-width: 768px) {
  .pr_pc-none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pr_sp-none {
    display: none !important;
  }
}

/**********************************************************

form parts

***********************************************************/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  background-color: #e48500;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* iconの利用
――――――――――――――――――――――――――――――――――――――――――――――*/
/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.display {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*** ナビゲーション ***/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navList__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  background-color: #333;
  color: #fff;
  padding: 12px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 15px;
}

.navList__item + .navList__item {
  border-left: solid 1px #fff;
}

.navList__item.current {
  background-color: #fff;
  color: #333;
}

.navList__itemName {
  margin-top: 2px;
}

/**********************************************************

ページごとのスタイル

***********************************************************/
/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ1
――――――――――――――――――――――――――――――――――――――――――――――*/
#page1 {
  padding: 15px;
  background-color: #5c6f8a;
}

.inputList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputList__item + .inputList__item {
  margin-top: 20px;
}

.inputList__select {
  margin: 0 15px 0 0;
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 18px;
}

.inputList__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.inputList__input {
  width: 100px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #fff;
  font-size: 18px;
  color: #fff;
}

.btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 20px 0;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ2
――――――――――――――――――――――――――――――――――――――――――――――*/
#page2 {
  background-color: #2f7344;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ページ3
――――――――――――――――――――――――――――――――――――――――――――――*/
#page3 {
  background-color: #543457;
}
/*# sourceMappingURL=style.css.map */