/**********************************************************

動画ページ

***********************************************************/
body {
    color: #333;
    font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 1001px) {
    .pr_pc-none {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .pr_sp-none {
        display: none !important;
    }
}

/**************************************************************

共通パーツ

***************************************************************/
.sec-inner {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/**************************************************************

PC,SP共通

***************************************************************/
.notice-box {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	position: fixed;
	z-index: 999;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 80px;
	background-color: #fff;
	box-shadow: 0px 6px 21px -9px #333;
	display: none;
}

/* header
―――――――――――――――――――――――――――――――――――*/
.header-area {
    background-color: #5cc18a;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.header-area .sec-inner {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-ms-flex-pack: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
}
.header-area h1 {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/*** main-menu ***/
.main-menu {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 100%;
}
.main-menu li {
	height: 100%;
	position: relative;
}
.main-menu-ttl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	height: 100%;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
	position: relative;
	transition: 0.1s;
}
.main-menu-ttl:hover {
	cursor: pointer;
    background-color: #35ac76;
}
.main-menu-ttl .icon {
	color: #fff;
	font-size: 1.4em;
}
.dropDown-list {
	display: none;
	position: absolute;
    z-index: 10;
    top: 52px;
    right: 0;
    min-width: 180px;
    background-color: #fff;
    box-shadow: 0px 6px 21px -9px #333;
    border: solid 1px #e7e7e7;
    border-radius: 3px;
}
.dropDown-list:before {
    position: absolute;
    top: -10px;
    right: 16px;
    width: 0;
    height: 0;
    z-index: 20;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #ffffff transparent;
    content: "";
}
.dropDown-list li {
}
.dropDown-list li + li {
	border-top: solid 1px #ddd;
}
.dropDown-list li:hover {
	display: block;
}
.dropDown-list li a {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
    padding: 12px 12px;
    font-size: 13px;
}
.dropDown-list li a:hover {
	opacity: 1;
    background-color: #f3f3f3;
}
.dropDown-list li .icon {
    font-size: 1.3em;
    color: #bbb;
    margin-right: 8px;
}
/*** setting ***/


/* todolist-area
―――――――――――――――――――――――――――――――――――*/
.todolist-area {
	width: 100%;
	padding: 0 15px;
}
.box-style01 {
    max-width: 650px;
    margin: 0 auto;
    padding: 30px 30px;
    background-color: #fff;
    box-shadow: 0px 6px 21px -9px #333;
	border: solid 1px #e7e7e7;
    border-radius: 3px;
}
.box-ttl {
	font-size: 20px;
    padding: 0;
    margin-bottom: 25px;
    position: relative;
    font-weight: bold;
}
.box-ttl .icon-box {
	display: inline-block;
	margin-right: 8px;
}
.box-ttl .icon-box .icon {
	color: #313131;
}
.list-box li {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	font-size: 16px;
	color: #333;
}
.list-box li + li {
    margin-top: 12px;
    padding-top: 12px;
    border-top: dashed 1px #ddd;
}
.list-box .todo-ttl {
	flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
    font-size: 15px;
    line-height: 1.4;
}

/*** todolist-list ***/
.todolist-add {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	margin: 0 0 0 0;
}
.todolist-add input {
    width: 100%;
	flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
    margin-right: 6px;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.todolist-add button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #5cc18a;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.todolist-add button:hover {
	cursor: pointer;
	opacity: 0.8;
}
.todolist-list {
	margin-bottom: 20px;
}
.todolist-list li {
	justify-content: space-between;
	-ms-flex-pack: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
}
.todo-ttl-box {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}
.comp-btn {
	display: block;
	position: relative;
	margin-right: 10px;
	border: solid 2px #ccc;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	transition: 0.2s;
}
.comp-btn:before {
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 5px;
    margin: auto;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	content: "";
}
.todolist-list .comp-btn:hover {
	cursor: pointer;
	border-color: #666;
	transform: scale(1.2);
}
.todolist-list .comp-btn:hover:before {
	border-color: #666;
}
.todolist-list .todo-ttl-edit {
    font-size: 14px;
    padding: 3px 6px;
    line-height: 1.5;
    flex: 1;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
    border-radius: 3px;
    border: solid 1px #ccc;
	font-family: "Noto Sans Japanese","Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
}
.todolist-list .delete-btn {
    display: block;
    color: #ccc;
    padding: 3px 10px 4px;
    font-size: 14px;
    text-decoration: underline;
}
.todolist-list .delete-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.todo-box .note {
	margin-bottom: 20px;
	color: #aaa;
}

/*** complete-box ***/
.complete-box {
	margin-top: 30px;
}
.complete-box .note {
	color: #aaa;
}

/*** trash-box ***/
.trash-box {
	margin-top: 30px;
}
.trash-box .box-ttl {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	position: relative;
	z-index: 0;
}
.trash-clear {
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 0;
    background-color: #f17474;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    line-height: 15px;
}
.trash-clear:hover {
	cursor: pointer;
	opacity: 0.8;
}
.trash-clear.jsActive {
	background-color: #ccc;
	text-decoration: line-through;
}
.trash-clear.jsActive:hover {
	cursor: default;
	opacity: 1;
}
.trash-box .note {
	color: #aaa;
}

/**************************************************************

SP

***************************************************************/
@media screen and (max-width: 767px) {
.pr_sp-none {
    display: none !important;
}

}
